<div class="email">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label-mail"
      >Email address</label
    >
    <input
      type="email"
      class="form-control-mail"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label-text"
      >Opinion</label
    >
    <textarea
      class="form-control-text"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
</div>
