/* navbar.css */
.navbar {
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-orientation: sideways-right;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px; /* Adjust the width as needed */
  background-color: #f1ebeb; /* Navbar background color */
  border-right: 1px solid #2f71c9; /* Optional border for separation */
  padding-top: 20px;
  align-items: flex-start;
  transition: width 0.3s; /* Add transition for smooth resizing */
}

.navbar .logo {
  max-height: 55px;
}

.navbar .navbar-brand {
  display: flex;
  position: absolute;
  margin-bottom: 20px;
}

.navbar .navbar-collapse {
  display: flex;
  position: absolute;
  overflow-y: auto;
  top: 10%;
}

.navbar .navbar-nav {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.navbar .nav-item {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}

.navbar .nav-link {
  display: flex;
  position: relative;
  padding: 10px 20px;
}

/* Media queries for responsive navbar */
@media (max-width: 768px) {
  .navbar {
    width: 200px; /* Adjust width for smaller screens */
  }
}

@media (max-width: 576px) {
  .navbar {
    width: 180px; /* Adjust width for even smaller screens */
  }
}
