
.top-menu {
    background: #0f8c9c;
    padding: 2px 15px;
    max-height: 55px;
}



.courses {
    
    max-width: 400px;
    margin: 100px 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    position: center;
}



.users{
  position: relative;

}


.toggle-button {
  
  position: fixed;
  top: 20px; /* Adjust top position as needed */
  right: 20px; /* Adjust right position as needed */
  z-index: 9999; /* Ensure the buttons appear on top of other elements */
}
