<div class="student-profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <img
              class="profile-img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFCm6U-R7Dh4WAGASSJFN9RaPTnxmDeV1cVqitzJ1yXslCORiVstDy8rB0YgI5YCRkCJo&usqp=CAU"
              alt=""
            />
            <h3>Full Name</h3>
          </div>
          <div class="card-body">
            <p><strong>Student ID:</strong> 321000001</p>
            <p><strong>Class:</strong> 4</p>
            <p><strong>Section:</strong> A</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <h3><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
          <div class="card-body">
            <table class="info-table">
              <tr>
                <th>Roll</th>
                <td>125</td>
              </tr>
              <tr>
                <th>Academic Year</th>
                <td>2020</td>
              </tr>
              <tr>
                <th>Gender</th>
                <td>Male</td>
              </tr>
              <tr>
                <th>Religion</th>
                <td>Group</td>
              </tr>
              <tr>
                <th>Blood</th>
                <td>B+</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-drawer-menu />
